
@{
    ViewBag.Title = "Content";
}


<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">TRUNG TÂM HỖ TRỢ TRA CỨU THÔNG TIN, CHÍNH SÁCH BẢO HÀNH SẢN PHẨM CHÍNH HÃNG</h2>
    </div> <!-- container .// -->
</section>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">
            1) BẢO HÀNH CÓ CAM KẾT TRONG 12 THÁNG
        </h5>
        <p>

            - RIÊNG Phụ kiện có điện AVA bảo hành 3 tháng. Đồng hồ thời trang chỉ bảo hành bộ máy, không bảo hành dây, vỏ, mặt kính.

            - Chỉ áp dụng cho sản phẩm chính, KHÔNG áp dụng cho phụ kiện đi kèm sản phẩm chính.

            + Bảo hành trong vòng 15 ngày (tính từ ngày TGDĐ nhận máy ở trạng thái lỗi và đến ngày gọi khách hàng ra lấy lại máy đã bảo hành).

            + Sản phẩm không bảo hành lại lần 2 trong 30 ngày kể từ ngày máy được bảo hành xong.

            + Nếu TGDD vi phạm cam kết (bảo hành quá 15 ngày hoặc phải bảo hành lại sản phẩm lần nữa trong 30 ngày kể từ lần bảo hành trước), Khách hàng được áp dụng phương thức Hư gì đổi nấy ngay và luôn hoặc Hoàn tiền với mức phí giảm 50%.

            *Từ tháng thứ 13 trở đi không áp dụng bảo hành cam kết, chỉ áp dụng bảo hành hãng (nếu có).
        </p>
        <h5>
            2) HƯ GÌ ĐỔI NẤY NGAY VÀ LUÔN (KHÔNG áp dụng cho Đồng hồ, phụ kiện có điện)

            Sản phẩm hư gì thì đổi đó (cùng model, cùng dung lượng, cùng màu sắc...)
        </h5>



        <div class="row mt-5">
            <div class="col-md-4">

                <p>
                    BẢO HÀNH CÓ CAM KẾT TRONG 12 THÁNG

                    - Sản phẩm được đem đi bảo hành trong vòng 15 ngày (tính từ ngày TGDĐ nhận sản phẩm ở trạng thái lỗi và đến ngày gọi khách hàng ra lấy lại sản phẩm đã bảo hành).

                    - Nếu vi phạm cam kết, Khách hàng được áp dụng phương thức Hoàn tiền với mức phí giảm 50%.
                </p>

                </article>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <p>
                    HOÀN TIỀN: Áp dụng cho sản phẩm lỗi và không lỗi.

                    - Tháng đầu tiên kể từ ngày mua: phí 20% giá trị hóa đơn.

                    - Tháng thứ 2 đến tháng thứ 12: phí 10% giá trị hóa đơn/tháng.

                    (VD: tháng thứ 2 phí 10%, tháng thứ 3 phí 20%...).
                </p>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <p>
                    ĐỔI TRẢ TRỌN ĐỜI SẢN PHẨM:

                    - Đổi lấy e-voucher có giá trị bằng 80% giá trị hoá đơn, không quy đổi thành tiền mặt, có giá trị trong 1 tháng, áp dụng mua tại các chuỗi AVAworld (AVASport, AVAKids, AVAFashion, AVAJi, AVACycle,...).

                    - Hoặc Hoàn tiền: 70% giá trị hoá đơn.
                </p>
            </div> <!-- col.// -->
        </div> <!-- row.// -->

        <br><br>

        <a href="javascript: history.back()" class="btn btn-light"> &laquo Quay Lại</a>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
